doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src="/javascripts/jquery-2.1.3.js",type="text/javascript")
    script(src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.js",type="text/javascript")
    script(src="/javascripts/masonry.pkgd.js", type="text/javascript")
    script(src='/javascripts/overview.js', type="text/javascript")
  body
    #logo
      block content
