extends layout

block content
  h1= title
    form#formAddUser(name="login",method="post",action="/login",enctype="text/plain")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="password", placeholder="userpassword", name="password")
        button#btnSubmit(type="submit") submit
