extends layout

block content
    h1= title
    form#formDevice(role="form",name="adddevice",method="post",action="/adddevice",enctype="multipart/form-data")
      input#inputDeviceName(type="text", placeholder="devicename", name="devicename")
      input#inputDeviceType(type="text", placeholder="devicetype", name="devicetype")
      input#inputDeviceDescription(type="text", placeholder="devicedescription", name="devicedescription")
      input#inputimg(type="file", name="file")
      button#btnSubmit.searchbutton(type="submit") submit
