extends layout

block content
    h1= title
    form#formLogin(role="form",name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPassword(type="password", placeholder="userpassword", name="password")
        input#inputUserEmail(type="text", placeholder="useremail", name="email")
        button.searchbutton(type="submit") submit
