
extends layout

block content
  #container
    #filter
    form#formFilter(name="Filter",method="post",action="/Filter")
      div
        #toonall
           span show all free devices
           div
            input.checkbox(type='checkbox', checked=true)
        #filternaam
          span Filter:
          input#txtfilter.textbox(type='textbox', name='txtfilter')
      input.searchbutton(value='SEARCH', name='Search', type='submit')
    #tilecontainer
     each dev, i in devicelist
        .tile
          div.deviceplaceholder
            div.lock
            span#lbl23daysleft days left 5
            img(src='http://localhost:3000/uploadimg/'+ dev.imagebyt)
          div.contenttile
            div.title
              span #{dev.devicename}
            div.type
              span.property Type:
              span #{dev.devicetype}
            div.description
              span.property Description:
              span #{dev.devicedescription}
            div.checkout
              input.searchbutton(value='CHECKOUT', name='Search', type='submit')
          div.extrainfotile
            div.from
              span.property From:
              span #{dev.deviceregistrations.from}
            div.until
              span.property Until:
              span #{dev.deviceregistrations.until}
            div.by
              span.property By:
              span #{dev.deviceregistrations.from}
