body {

  font-family:Kalinga,'Khmer UI',Arimo;
}
.property{
  color:#663399;
  font-size:1em;

}

/*----------------------FORM ELEMENTS----------------------------*/

.textbox {
  float:left;
  border: 1px solid rgba(204, 204, 204, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  height:25px;
  width:285px;
}
.checkbox {
  width:25px;
  height:25px;
  float:left;
}
.searchbutton {
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));*/
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
/*  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);*/
/* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);*/
  background-color:#9933cc;
/*  -moz-border-radius:4px;*/
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:block;
  cursor:pointer;

  color:#9933cc;
  font-size:16px;
  padding:6px 23px;
  text-decoration:none;
  letter-spacing:0.1em;
  width:150px;
  height:30px;
  margin-left:30px;
  margin-right:10px;
  float:right;
}
#content{

  clear:both;
  padding-top:150px;
}

/*--------------------GLOBAL LAYOUT--------------------------*/
#container {
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  border-width:1px;
  border-color:#cccccc;
  border-style:solid;

}
#logo {
  width:1029px;
  background-image:url(../images/Logo.png);
  background-repeat:no-repeat;
  height:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}



/*-------------------------FILTER PART-------------------*/

#filter {

  display:block;
  float:left;
  width:1029px;
  height:85px;
  padding-top:30px;
  color:#663399;
}

#filternaam, #toonall{
  float:left;
  width:400px;

}
#toonall, #filternaam span{
  display:block;
  text-align:center;
}
#toonall span {
  float:left;
  width:300px;
  }
  #filternaam span{
    float:left;
    width:100px;
  }
#filter #filternaam {
}
#filter span{
  letter-spacing:0.1em;
}

/*---------------------------TILE VIEW-----------------------------------*/
#tilecontainer{
  width:1060px;
  clear:both;
  display:block;
  padding-top:150px;


}
.tile{
width:343px;
float:left;
border: 1px solid rgba(204, 204, 204, .3);

padding-top:10px;

}
.tile img{
  z-index:10;

}
/*-------LOCK-------*/
.deviceplaceholder{
  width:125px;
  display:block;
  float:left;
}
.deviceplaceholder .lock{
  background-image:url(../images/lock.png);
  background-repeat:no-repeat;
  height:40px;
  width:125px;
}
.deviceplaceholder span{
  color: rgba(204, 204, 204, .7);

  width:125px;
  text-align:center;
  display:block;
}
.deviceplaceholder img{
  margin-top:20px;
  margin-bottom:20px;
  display:block;
  float:left;
  width:100px;
  margin-left:13px;
  margin-right:12px;

}
/*-------CONTENT-------*/
/*title*/

.title{
float:left;
width:208px;
display:block;
}
.title span{
    color:#663399;
display:block;
text-align:left;
font-size:1.3em;
}
/*type*/
.type{
  float:left;
  width:208px;
  display:block;
}
.type span{
  float:left;

  display:block;
  text-align:left;
  font-size:0.9em;

}
/*desc*/
.description{
  float:left;
  width:208px;
  display:block;

}
.description span{
  width:208px;
  display:block;
    float:left;
    display:block;
    text-align:left;
    font-size:0.8em;
}

.checkout{
  float:right;
  height:50px;
display:block;
padding:20px;

}

.checkout .searchbutton{
margin-top:10px;
margin-bottom:20px;
}



/*-------EXTRAINFO-------*/

.extrainfotile span{

  float:left;
  display:block;
  text-align:left;
  font-size:0.7em;
  }

.extrainfotile{
padding-left:10px;
background-color: rgba(204, 204, 204, .2);
float:left;
display:block;
width:333px;
height:40px;
}
.from{
    float:left;
  display:block;
  width:150px;
}
.until{
  float:left;
  display:block;
  width:150px;
}
.by{
  float:left;
  display:block;
  width:333px;
}






/*-------------------------------JQUERY------------------------------*/

.ui-tooltip {
  background: #4a4a4a;
  color: #96f226;
  border: 2px solid #454545;
  border-radius: 0px;
  box-shadow: 0 0
}
.ui-autocomplete {
  background: #4a4a4a;
  border-radius: 0px;
}
.ui-autocomplete.source:hover {
  background: #454545;
}

.ui-menu .ui-menu-item a{
  background:red;
  height:10px;
  font-size:8px;}
